<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Test">
<classes>
<class name="testngexamples.HRM"/>
<class name="testngexamples.FacebookSignup"/>
<class name="testngexamples.DataProviderExample"/>
</classes>
</test> 
</suite> 